.place__img {
    object-fit: contain;
    width: 460px;
}
@media (max-width: 1024px) {
    .place__img {
        width: 440px;
    } 
}
@media (max-width: 768px) {
    .place__img {
        width: 340px;
    } 
}
@media (max-width: 320px) {
    .place__img {
        width: 320px;
        margin: 0 -16px 32px;
    } 
}