.cover__subtitle {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    z-index: 3;

    width: 360px;
    text-align: center;
    align-self: center;
}
@media (max-width: 690px) {
    .cover__subtitle {
        width: 288px;
        line-height: 16px;
        font-size: 14px;
    } 
}