.cover__subtitle {
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    z-index: 3;

    width: 360px;
    text-align: center;
}
.cover__subtitle:hover ~ .cover__overlay {
    opacity: 0.8;
}
@media (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        line-height: 16px;
        font-size: 14px;
    } 
}