.cover {
    margin: 92px -100px 0;
    max-height: 740px;
    position: relative;
            
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover>:hover ~ .cover__overlay {
    opacity: 0.8;
}
@media (max-width: 1024px) {
    .cover {
        margin: 92px -48px 0;
    } 
}
@media (max-width: 768px) {
    .cover {
        margin: 90px -24px 0;
    } 
}
@media (max-width: 690px) {
    .cover {
        margin: 66px -16px 0;
    } 
}