.header {
    display: flex;
    justify-content: space-between;

    margin: 0 -100px 56px;
    padding-top: 28px;

}
@media (max-width: 1024px) {
    .header {
        margin: 0 0 48px;
    } 
 }
@media (max-width: 690px) {
    .header {
        padding-top: 16px;
    } 
 }