.footer {
    max-height: 18px;
    margin: 0 -100px;
    padding: 92px 0 24px;
    width: 1184px;

    display: flex;
    justify-content: space-between;
}
@media (max-width: 1024px) {
    .footer {
        width: 100%;
        margin: 0;
    } 
}
@media (max-width: 768px) {
    .footer {
        width: 720px;
        margin: 0;
        padding: 88px 0 24px;
    } 
}