.place__paragraph {
    line-height: 29.34px;
    font-size: 18px;
    font-weight: 400; 

    margin-bottom: 26px;
}
@media (max-width: 1210px) {
    .place__paragraph {
        line-height: 26.08px;
        font-size: 16px;
    } 
}
@media (max-width: 690px) {
    .place__paragraph {
        margin-bottom: 25px;
    } 
    .place__paragraph:last-child {
        margin-bottom: 0;
    } 
}